html {
  font-size: 10px;
}

body {
  font-family: "Nunito Sans", serif;
  font-size: 1.3rem;
  line-height: 163.7%;
  color: #ffffff;
  background-color: #131313;
}

.title {
  font-family: "Yeseva One", serif;
  text-transform: uppercase;
  color: #e3b873;
  line-height: 138.6%;
}

.container {
  margin: 0 auto;
  max-width: 120.1rem;
  padding: 0 1.5rem;
}

.wrapper {
  padding: 10.7rem 0 12.43rem;
}

.header {
  &__container {
    display: flex;
    justify-content: flex-end;
  }

  // .header__nav

  &__nav {
    padding-right: 5.6rem;
  }

  // .header__nav-item

  &__nav-item {
    color: #ffffff;
    opacity: 0.3;
    padding: 0.67rem;
    border-bottom: 1px solid #131313;
    font-size: 1.4rem;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 6.05rem;
    }
    &_active {
      color: #e3b873;
      opacity: 1;
      border-bottom: 1px solid #e3b873;
    }
  }
}

.main {
  padding-top: 4.54rem;
}

.slider {
  // .slider__items

  &__items {
    display: flex;
  }

  // .slider__content

  &__content {
    margin-right: 5rem;
    max-width: 44.2rem;
  }

  // .slider__title

  &__title {
    position: relative;
    width: fit-content;
    margin-bottom: 3.4rem;
    font-size: 2.7rem;
    &::after {
      content: "";
      width: 9.2rem;
      height: 0.1rem;
      position: absolute;
      bottom: 1.6rem;
      right: -10rem;
      background-color: #e3b873;
    }
  }

  // .slider__text

  &__text {
    margin-bottom: 4.2rem;
    font-size: 1.4rem;
    line-height: 190.9%;
  }

  // .slider__info

  &__info {
    margin-bottom: 7.96rem;
  }

  // .slider__arrows

  &__arrows {
    display: flex;
    align-items: center;
  }

  // .slider__arrow-left

  &__arrow-left {
    margin-right: 3rem;
    width: 4.15rem;
    height: 1.33rem;
    cursor: pointer;
  }

  // .slider__dots

  &__dots {
    display: flex;
    align-items: center;
  }

  &__dot {
    width: 0.96rem;
    height: 0.96rem;
    background-color: #ffffff;
    opacity: 0.3;
    border-radius: 50%;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 1.75rem;
    }
    &_active {
      opacity: 1;
    }
  }

  &__arrow-right {
    margin-left: 3rem;
    width: 4.15rem;
    height: 1.33rem;
    cursor: pointer;
  }

  // .slider__img

  &__img {
    max-width: 679px;
    flex-grow: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    div {
      display: none;
    }
    div.active {
      display: block;
    }
  }
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.4rem;

  // .info__item

  &__item {
  }

  // .info__title

  &__title {
    margin-bottom: 0.9rem;
    font-size: 1.8rem;
  }

  // .info__text

  &__text {
    font-size: 1.3rem;
    line-height: 163.7%;
  }
}

@media (max-width: 1200px) {
  .header {
    &__nav {
      padding-right: 0;
    }

    &__nav-item:not(:last-child) {
      margin-right: 4.5rem;
    }
  }
  .slider {
    &__content {
      max-width: 35rem;
    }

    &__title {
      font-size: 2.2rem;
    }

    &__img {
      max-width: 100%;
      img {
        min-height: 49.6rem;
      }
    }
  }

  .info {
    &__title {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 1024px) {
  .slider {
    &__items {
      flex-direction: column;
    }

    &__content {
      margin-right: 0;
      max-width: 100%;
      order: 2;
      text-align: center;
    }

    &__title::after {
      bottom: 0;
    }

    &__info {
      margin-bottom: 5rem;
    }

    &__arrows {
      margin: 0 auto;
      width: fit-content;
    }

    &__img {
      margin-bottom: 2rem;
      min-height: 100%;
    }
  }

  .info {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 6rem 0;
  }

  .header {
    &__nav-item {
      font-size: 1.2rem;
      text-align: center;
    }
  }

  .slider {
    &__img {
      img {
        min-height: 0;
        max-height: 40rem;
      }
    }
  }

  .info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 4rem 0;
  }
  .header {
    &__nav-item {
      font-size: 1rem;
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }

  .slider {
    &__title {
      margin-bottom: 2.5rem;
      font-size: 1.8rem;
      &::after {
        width: 4rem;
        right: -5rem;
      }
    }
    &__img {
      img {
        max-height: 30rem;
      }
    }
  }

  .info {
    &__title {
      font-size: 1.3rem;
    }
  }
}
